@import url("https://fonts.googleapis.com/css2? family= Aboreto & family= DM+Serif+Display & family= Nunito:wght@200 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
h1 {
  color: aliceblue;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
body {
  background-color: #1b2029;
  margin: 0%;
  font-family: "Aboreto", cursiva;
}
img {
  width: 40%;
  height: 50%;
}
main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 3rem;
}
header {
  background-color: #3a5178;
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 0;
  justify-content: space-between;
}
header > a {
  color: aliceblue;
  padding-left: 2rem;
  font-family: "Nunito", sans-serif;
}
