@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Nunito+Sans:wght@200;300&family=Nunito:wght@200&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Oswald:wght@300&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Kanit&family=Oswald:wght@300&family=Rubik:wght@500&display=swap");
body {
  margin: 0;
  height: calc(100% - 27rem);
}
header {
  height: 6rem;
  font-family: "Rubik", sans-serif;
  font-size: large;
}
.bgBodyLogin {
  background-image: url(../img/bgImageLogin.png);
  margin: 0;
  height: calc(100% - 27rem);
}
.navbar {
  width: 100%;
  background-color: rgb(18, 89, 181);
  z-index: 2;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(209, 209, 209);
  margin-right: 1rem;
}

.buttonContainer > a:hover {
  background-color: rgb(3, 42, 92);
  color: rgb(180, 179, 179);
  border-radius: 5px;
}
.buttonContainer > a:active {
  background-color: rgb(2, 34, 75);
  color: rgb(180, 179, 179);
  border-radius: 5px;
  transition: 0.1s;
}

.formContainer {
  display: flex;
  justify-content: center;
  padding: 5rem;
  height: 30rem;
  width: 100vw;
  font-family: "Kanit", sans-serif;
}

.loginContainer {
  color: white;
  background-color: rgb(18, 89, 181);
  display: flex;
  justify-content: center;
  height: 21rem;
  min-width: 20rem;
  max-width: 20rem;
  border-radius: 10px;
  box-shadow: 13px 16px 23px -5px rgba(0, 0, 0, 0.7);
  -webkit-caja-sombra: 13px 16px 23px -5px rgba(0, 0, 0, 0.7);
  -moz-caja-sombra: 13px 16px 23px -5px rgba(0, 0, 0, 0.7);
}
.userAndPass {
  margin-top: 1rem;
}
.userAndPass p {
  margin-top: 1rem;
}
.loginContainer a {
  color: #000000;
}

.izquierda {
  margin: 3rem;
}

.derecha {
  margin-bottom: 2rem;
  width: 25rem;
  height: 15rem;
}
.derecha > iframe {
  width: 25rem;
  height: 15rem;
}

#pantallaDividida {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listaLinks {
  font-family: "Lobster", cursive;
  font-size: 25px;
  font-weight: 500;
}

.botonCollapso {
  background-color: rgb(67, 61, 230);
}

.marca {
  font-weight: 900;
  font-size: 35px;
  padding-right: 5rem;
  padding-left: 1rem;
}

.boton {
  color: black;
}

.boton:hover {
  color: white;
}

main {
  overflow-y: auto;
  z-index: 1;
}

.contenedorMain {
  display: flex;
}

.productos {
  margin: 2rem;
  margin-left: 5rem;
}

.barraLateral > div > div:first-child {
  background-color: rgb(18, 89, 181);
  font-family: "Arimo", sans-serif;
}

.inicio {
  color: white;
}

.botonLateral {
  display: inline-block;
  position: fixed;
  height: calc(100% - 20rem);
  min-height: 10rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
}
.barraLateral > button:first-child {
  background-color: rgb(18, 89, 181);
}
.barraLateral > button:first-child > p {
  background-color: rgb(18, 89, 181);
  color: rgb(209, 209, 209);
}
.lateral {
  background-color: rgb(162, 174, 190);
}
.botonLateral p {
  writing-mode: vertical-lr;
  text-align: center;
}

.linksArticulos a,
h2 {
  color: rgb(46, 46, 46);
  font-size: 30px;
  font-family: "Arimo", sans-serif;
}
.linksArticulos,
ul li {
  list-style-type: none;
}
li a:hover {
  background-color: rgb(113, 124, 138);
}
li a:active {
  color: rgb(207, 205, 205);
  background-color: rgb(113, 124, 138);
  transition: 0.2s;
}
.marcas a {
  color: white;
  font-size: 17px;
}

.imagenCel {
  width: 5rem;
  height: 5rem;
}

.marcas a {
  color: white;
  font-size: 17px;
}

.card {
  height: 100%;
  min-height: 45rem;
  max-height: 70rem;
  width: 95%;
  max-width: 22rem;
  border-radius: 1rem;
  box-shadow: 2px 1px 15px -1px #000000;
  background-color: rgb(67, 61, 230);
  margin-bottom: 2rem;
}

.card img {
  width: 100%;
  height: 40%;
}

.card-text {
  color: white;
  font-size: 25px;
  font-family: "Kanit", sans-serif;
  padding: 0 1rem 0 1rem;
  border-bottom: solid rgb(71, 86, 133);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  min-height: 15rem;
  max-height: 15rem;
  margin-bottom: 0.4rem;
}

.card-title {
  text-align: center;

  height: 5rem;
  border-bottom: solid rgb(71, 86, 133);
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Kanit", sans-serif;
  margin-top: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-body {
  height: 60%;
  padding: 0 1rem 1rem 1rem;
}

h6 {
  color: #f1b500;
  font-family: "Kanit", sans-serif;
  font-size: 30px;
}

.card button {
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: #ffc107;
  padding: 1px 7px 3px 3px;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 20px;
}

.card button:focus {
  outline: none;
  box-shadow: none;
  background-color: #ffc107;
}

.barraLateralLg {
  display: none;
}

.carousel-inner {
  height: 20rem;
  margin-bottom: 3rem;
}

.carousel-inner img {
  height: 20rem;
}

footer {
  background-color: #3b3b3b;
  color: white;
  height: 21rem;
  font-size: larger;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Roboto Condensed", sans-serif;
}
footer p {
  margin: 0;
}
footer a {
  color: #0e83f0;
}
a:hover {
  cursor: pointer;
}

.horizontalLine {
  border-bottom: 0.2rem solid rgb(139, 139, 139);
}
.smMdNone {
  display: none;
}

@media (min-width: 768px) {
  header {
    height: 5rem;
  }
  .navbar {
    height: 5rem;
  }
  footer {
    height: 15rem;
    font-size: large;
    padding-left: 2rem;
  }
  body {
    margin: 0;
    height: calc(100% - 20rem);
  }
  .horizontalLine {
    display: none;
  }
  .smMdNone {
    display: none;
  }
  h6 {
    font-size: medium;
  }
  .card-text {
    font-size: large;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    min-height: 8rem;
    max-height: 8rem;
  }
  .card-title {
    font-size: large;
    max-height: 6rem;
  }
  .card {
    min-height: 30rem;
    max-height: 30rem;
  }
  .botonLateral {
    display: inline-block;
    position: fixed;
    height: calc(100% - 21rem);
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
  }
  .derecha {
    margin-bottom: 2rem;
    width: 35rem;
    height: 20rem;
  }
  .derecha > iframe {
    width: 35rem;
    height: 20rem;
  }
  .loginContainer {
    width: 20rem;
  }
}

@media (min-width: 992px) {
  header {
    height: 5rem;
  }
  .navbar {
    height: 5rem;
  }
  footer {
    height: 8rem;
    font-size: medium;
  }
  footer > div:first-child {
    padding-left: 1rem;
  }
  body {
    margin: 0;
    height: calc(100% - 13rem);
  }
  .lgNone {
    display: none;
  }
  .smMdNone {
    display: block;
  }
  .botonLateral {
    display: none;
  }
  .barraLateralLg {
    display: block;
    position: relative;
    background-color: rgb(162, 174, 190);
    height: 103rem;
  }
  .linksArticulos {
    width: 22rem;
  }
  .linksArticulos > h2 {
    background-color: rgb(18, 89, 181);
    padding-top: 1rem;
    border-bottom: solid;
  }
  .productos {
    margin-left: 5rem;
  }
  #pantallaDividida {
    display: flex;
    flex-direction: row;
    margin: 3rem 1rem 2rem 1rem;
  }
  .izquierda > h2 {
    padding-bottom: 3rem;
  }
  .card img {
    height: 40%;
  }
  .card-body {
    height: 60%;
  }
  .card-text {
    margin-bottom: 0.4rem;
  }
}
